.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* Фиксированное позиционирование */
    bottom: 20px;
    /* Размещение чуть выше нижнего края */
    left: 50%;
    /* Центрирование по горизонтали */
    transform: translateX(-50%);
    /* Центрирование по горизонтали */
    width: 100%;
    /* Чтобы flex-центровка работала корректно */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    /* Опционально: фон с прозрачностью */
    z-index: 1000;
    /* Убедитесь, что лоадер перекрывает другие элементы */
}